body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    row-gap: 1rem;
}
p{
    font-size: 1.5rem;
}
input,button{
    font-size: 1rem;
}
button{
    cursor: pointer;
}
button{
    cursor: pointer;
    padding: 10px;
    background-color: rgb(255, 47, 47);
    border: none;
    padding: 5px 10px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #fff;
}
button:hover{
    background-color: rgb(221, 55, 55);
} 
input[type="number"] {
    -moz-appearance: textfield;
}
input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background: none;
}
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* WebKit browsers */
}