body,.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100vh;
    flex-direction: column;
}
a{
    margin: 10px;
    text-decoration: none;
    border: 1px solid #000;
    color: #fff;
    padding: 10px;
    background-color: rgb(72, 69, 238);
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}
a:hover{
    background-color: rgb(29, 27, 163);
}


h1.font-weight-bold{
    font-weight: bold;
}

/* ********************************* */

form{
    color: rgb(177, 168, 168);
}

/* ********************************* */

.form-control,
.form-control:focus{
    color: antiquewhite;
    background-color: rgb(177, 168, 168);
    border: none;
}

/* ********************************* */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ********************************* */

.main_container{
    flex-direction: column;
    row-gap: 1rem;
    /* height: 30vh; */
    width: 30%;
}

input{
    width: 100%;   
    outline: none; 
    border-radius: 10px;
    padding: 10px 20px;
}
p{
    font-size: 1.2rem;
    font-weight: 700;
    
}

body{
    background-color: rgb(75,74,74);
    color: antiquewhite;
}