body,.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(75,74,74) !important;
    color: antiquewhite !important;
}


a{
    margin: 10px;
    text-decoration: none;
    border: 1px solid #000;
    color: #fff;
    padding: 10px;
    background-color: rgb(72, 69, 238);
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}
a:hover{
    background-color: rgb(29, 27, 163);
}


h1.font-weight-bold{
    font-weight: bold;
}